html {
  color: #FBF9EF;
}

.fa-magnifying-glass,
.fa-location-dot {
  border-radius: 20px;
  color: #010645;
}

h1 , h2 , h3, p {
  font-weight: 300;
  color: #010645;
  margin-bottom: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
}

.container {
  font-family: 'Montserrat', sans-serif;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  background: radial-gradient(#bfd1ff, #AFC5FE);
  border-radius: 50px;
  border: none;
  width: auto;
}


.today-forecast {
  margin-left: 130px;
}

.search-input {
  padding: 5px 10px 5px 10px;
  border-style: none;
  border-radius: 10px;
  font-style: italic;
}

.search-button {
  border-radius: 10px;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
}

.location-button {
  border-radius: 10px;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
}

.search-engine {
  margin-top: 50px;
}

.country {
  margin: 0;
}

.emoji-weather-time {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.weather-details {
  line-height: 1.7;
}

.weather-icon {
  margin-left: 30px;
}

.card-title {
  margin: 0;
  padding-bottom: 0;
}


.forecast-icon {
  width: 100px;
  margin-top: 0;
}

.footer {
  padding: 20px 0 30px 0;
}

.celsius {
  font-size: 20px;
}

/* .temperature-emoji {
//  font-size: 52px;
}