.fa-magnifying-glass,
.fa-location-dot {
  border-radius: 20px;
  color: black;
}

.container {
  font-family: "IBM Plex Sans", sans-serif;
}

.country {
  margin: 0;
}

.emoji-weather-time {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.temperature-emoji {
  font-size: 52px;
}

.weather-details {
  line-height: 1.7;
}

.card-title {
  margin: 0;
  padding-bottom: 0;
}

.units {
  font-size: 20px;
  font-weight: 200;
}
